*{
  box-sizing: border-box;
  font-family: Karla, sans-serif;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

main {
  background-color: #F5F5F5;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

div#root {
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 5px 10px;
    text-align: center;
}


.dice-container {
 display: grid;
 grid-template: auto auto/repeat(5, 1fr);
 gap: 20px;
 margin-bottom: 40px;
}

button {
    font-family: Karla, sans-serif;
    cursor: pointer;
}
.dice-container button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px #00000026;
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 1.75rem;
  cursor: pointer;
    font-family: Karla, sans-serif;
}
.dice-roll{
    height: 50px;
    white-space: nowrap;
    width: auto;
    padding: 6px 21px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    font-family: Karla, sans-serif;
}

.sr-only {
  width: 90%;
  margin: 0 auto;
  display: none;
}